.divForm
{
   
  height:485px;
  padding-top: 100px;
  padding-left:420px;
  background-image: url("DivBackground.avif");
  background-size: cover;
    
}
form
{
  text-align: center;
  background-color: white;
  border: 1px solid blue;
  height: 450px;
  width: 400px;
  border-width: 1px;
}
input
{
  border-style:none;
  border-color: white;
  border-bottom: 4px solid white;
  width: 300px;
  height: 40px;
}
input:focus
{
  background-image: linear-gradient(to right,lightblue,violet);
  /* border-color: white; */
}
input:hover
{
  box-shadow: 0 0 3px 2px lightblue;
}
::placeholder
{
  font-size: 17px;
  padding-left: 20px;
}
.submit 
{
  background-image: linear-gradient(to right,rgb(143, 206, 228),rgb(235, 161, 235));
  font-size: 120%;
  font-weight: 200;
  padding-top: 5px;
  border-radius: 12px;
  border-bottom: white;
  text-align: center;
  cursor: pointer;
}
.submit:hover
{
    box-shadow: 0 0 3px 2px lightblue;
}